<!DOCTYPE html>
<html lang = "fr">
    <head>
        <title>Utilisation de jinja2</title>
        <meta charset = "UTF-8">
        <link rel = "stylesheet" href = "/static/style.css">
    </head>
    <body>
        <h1>Voici le tableau généré aléatoirement</h1>
        <table>
            {% for n_ligne in range(5) %}
            <tr>
                {% for n_colonne in range(10) %}
                    {% set valeur = tableau[n_ligne*10 + n_colonne] %}
                    {% if (valeur%2 == 0) %}
                        {% set type_cellule = "pair" %}
                    {% else %}
                        {% set type_cellule = "impair" %}
                    {% endif %}
                    <td class = {{ type_cellule }}>
                        {{ valeur }}
                    </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
        <p><a href = "/">Recharger la page</a></p>
    </body>
</html>
