body {
    background-color:lightgrey;
}

h1 {
    font-weight:bold;
    font-style:italic;
}

table {
    border: medium solid #560606;
    border-collapse: collapse;
    width: 50%;
}

td {
    font-family: sans-serif;
    border: thin solid #560606;
    padding: 5px;
    text-align: center;
    background-color: #ffffff;
}

.pair {
    background-color: #1913d8;
}

.impair {
    background-color: #f01034;
}
